
<!DOCTYPE html>
<html>
<head>
  <title>артек.онлайн</title>
  <meta charset="utf-8">
  <link href="static/js/c3.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class={{ip}} id="server-ip"></div>
  <div class="{{node_name}}" id="name"></div>
  <div id="chart"></div>
  <script src="static/js/d3.min.js" type="text/javascript"></script>
  <script src="static/js/c3.min.js" type="text/javascript"></script>
  <script src="static/js/show-pings.js" type="text/javascript"></script>
</body>
</html>
